h1 {
    font-size: 40px;
    font-family: "Times New Roman", serif;
    padding: 30;
    margin: 10;
    font-weight: normal;
    text-decoration: underline;
    color: rgb(220, 215, 67);
    background-color: rgb(103, 173, 222);
}

h2 {
    font-size: 30px;
    font-family: "Times New Roman", serif;
    padding: 30;
    margin: 10;
    font-weight: normal;
    color: rgb(242, 232, 232);
    background-color: rgb(24, 23, 23);
}

p {
    font-family: "Times New Roman", serif;
    font-size: 14px;
    padding: 5;
    margin: 5;
    color: rgb(232, 240, 240);
    background-color: rgb(12, 11, 11);
}

.logo {
    background-size: cover;
    background-image: url(logo.png);
    background-color: #cf1616;
    height: 150px;
    width: 150px;
}
